.main-content {

  border: 1px solid darksalmon;
  overflow-y: auto;
  height: 100%;

  .user-string {
    padding: var(--small-padding);
    margin: var(--small-margin);
    border: 1px solid cornflowerblue;
    .user-image {
      width: var(--user-image-size);
      height: var(--user-image-size);
    }
  }
}
