.main-content {
  border: 1px solid firebrick;
  overflow-y: auto;
  flex: 1 0 auto;

  .user-string {
    padding: var(--small-padding);
    margin: var(--small-margin);

    .user-image {
      width: var(--user-image-size);
      height: var(--user-image-size);
    }
  }
}
