.main-screen {
  position: absolute;
  --small-margin: 4px;
  --small-padding: 4px;
  --user-image-size: 96px;
  --main-margin: 16px;
  --main-header-height: 36px;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;

  border: 1px solid fuchsia;
  overflow: hidden;
  display: grid;
  grid-template-rows: var(--main-header-height) calc(100% - var(--main-header-height));
  .main-header{
    border: 1px solid olivedrab;
    padding: var(--small-padding);
    margin: var(--small-margin);
  }
  .main-content {
    border: 1px solid gold;
    padding: var(--small-padding);
    margin: var(--small-margin);
  }
}
